<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <title>Smart Employee Monitoring</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<input class="navigation-toggle" id="navigation-toggle" type="checkbox">
<label class="navigation-button" for="navigation-toggle" aria-label="Open navigation">Menu</label>

<div class="sidebar">

    <h2>AI Monitor</h2>

    <a href="{{ url_for('dashboard') }}">Dashboard</a>

    <a href="{{ url_for('employees') }}">Employees</a>

    <a href="{{ url_for('add_employee') }}">Add Employee</a>

    <a href="{{ url_for('attendance') }}">Attendance</a>

    <a href="{{ url_for('violations') }}">Violations</a>

    <a href="{{ url_for('email_logs') }}">Email Logs</a>

    <a href="{{ url_for('camera') }}">Live Camera</a>

</div>

<main class="content">

{% block content %}

{% endblock %}

</main>

</body>

</html>