<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<head>

    <title>Smart Employee Monitoring</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="sidebar">

    <h2>AI Monitor</h2>

    <a href="{{ url_for('dashboard') }}">Dashboard</a>

    <a href="{{ url_for('employees') }}">Employees</a>

    <a href="{{ url_for('add_employee') }}">Add Employee</a>

    <a href="{{ url_for('attendance') }}">Attendance</a>

    <a href="{{ url_for('violations') }}">Violations</a>

    <a href="{{ url_for('email_logs') }}">Email Logs</a>

    <a href="{{ url_for('camera') }}">Live Camera</a>

</div>

<div class="content">

{% block content %}

{% endblock %}

</div>

</body>

</html>